* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo {
    font-size: 30px;
    margin-left: 30px;
    color: blue;
}

.nav-links {
    display: flex;
    margin-right: 60px;
    
}

.nav-links li {
    margin: 0 20px;
    list-style-type: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger span:first-child {
    transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}




.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}



.text-box {
    margin: 40px auto;
    width: 750px;
}

.text-box h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;    
}

.text-box p {
    color: white;
    font-size: 1.5rem;
}

.grid-container {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: auto 200px;
    grid-template-rows: 400px auto 100px;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

header {
    height: 75%vh;
}

.header {
    background-color: purple;
    grid-area: header;
}

.main {
    background-color: aqua;
    color: white;
    grid-area: main;
}

.row {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.col {
    width: 45%;
}

p {
    font-size: 2.3em;
    padding: 0px 50px;
    line-height: 3rem;
}

img {
    margin: 0 100px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
}

.footer {
    background-color: blue;
    color: white;
    grid-area: footer;
}

@media (max-width: 768px) {
    
    .hamburger {
        display: block;
        position: absolute;
        top: 50px;
        right: 5px;
        z-index: 1;
        margin-right: 25px;
    }

    

    

    .active .bar:nth-child(2) {
        opacity: 0;
    }

    .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 300%;
    }

    .active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        width: 300%;
    }

    .nav-links {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 75px;
        right: -100%;
        transition: 0.5s;
        margin: 0 auto;
    }

    .nav-links li {
        padding: 1rem 0;
    }

    a.nav-link {
        margin: 1rem 0;
        color: #333;
        z-index: 1;
    }
    
    .active {
        right: 0;
        z-index: 100;
        transition: 0.2s ease;
    }

    .text-box {
        padding: 25px;
    }

    .text-box h1 {
        margin-left: 200px;
    }

    .text-box p {
        margin-left: 75px;
         font-size: 18px;
    }

}