* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 300px 600px 300px;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

.header {
    background-color: purple;
    grid-area: header;
}

.main {
    background-color: aqua;
    grid-area: main;
}

.footer {
    background-color: blue;
    grid-area: footer;
}