* {
    box-sizing: border-box;

}
 /* width: 33.33%; - for 3 column */
 /* width: 25%; - for 4 column */
.column {
    float: left;
    width: 25%;
    
    padding: 5px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}